/* #saved-option, #about-option{
    width: 100%;
    background-color: #9f7aea;
    color: white;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
} */